html, body {
	height: 100%;
	border:0;
	margin:0;
	padding:0;
}

body {
    line-height: 1;
    color: black;
    background: white;

}

#container {
	paddng: 3px;

	border-size: 2px;
	border-style: solid;
	border-color: black;
 	box-sizing: border-box;
}

#container.intro div.url_input {
	border: none;
	margin: 10em;
	padding: 4em auto;
	text-align: center;
	font-size: 1.3em;
}
#container.intro div.url_input input {
	height: 2em;
}

#container.intro div.url_input button {
	height: 2.4em;
}

#container.normal div.url_input {
	padding: .2em;
	border-bottom: 1px solid;
}


div.url_input {
	white-space: nowrap;
	overflow: hidden;
}

div.url_input input {
	width: 25em;	
}

div.url_results {
	padding: 1px;
	white-space: nowrap;
	height: 100%;
}
div.url_summary {
	float: left;
}

div.url_summary ul {
	padding: 0;
	border-right: 1px solid;
	margin: 0;
}

div.url_summary li {
	list-style: none;
	padding: .15em;
	border-bottom: 1px solid;
}

div.url_summary li.selected {
    color: orange;
    font-weight: bold;
}


div.url_detail {
	background: #F8F8FF; 
	border: black dashed 1px; 
	margin: auto;
	overflow: auto;
	height:100%;
}

div.url_detail pre {
	margin: .1em;
	padding: .3em;
}

div.url_detail span.found {
    background: yellow;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}